*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
html{
  background-color: #928785;
  width: 100%;
}
.item-container{
  display: grid;
  width:100%;
  position: relative;
  margin-top:20%;

  grid-template-columns: auto auto auto auto ;
  gap:30px;
}
.item{
  padding: 10%;
 background-color: white;
  border-radius: 10px;
  width: 100%;
}
#checkout{
  margin: auto;
  display: grid;
  justify-content: center;
}
.flex{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 3%;
  padding-top:8%;
  position: fixed;
  bottom:0;
  margin: auto;
}
button{
  width:100%;
  border-radius: 5px;
  color: white;
  background-color: green;
  border: none;
  padding: 5%;
}
button:hover{
  background-color: green;
  color: white;
  transition:0.5s ease ;
  cursor: pointer;
  transform: scale(1.115);
}
#checkout{
  width:50%;
  height: 30%;
  
}
#btn{
  padding: 50px;
}
.SVG1{
  width:20%;
  margin: auto;
}
a{
  display:flex;
  justify-content: space-around;
  text-decoration: none;
  
}
#toggle{
  width:10%;
}
p{
  color: green;
}